* {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-weight: lighter;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
button {
  cursor: pointer;
}
button:focus {
  outline: none;
}
body {
  background-color: #5086d2;
  background-size: contain;
  background-image: -webkit-radial-gradient(0 0, circle, #5086d2, #717cf6);
  background-image: radial-gradient(circle at 0 0, #5086d2, #717cf6);
  min-height: 100vh;
  margin: 0;
}
.no-scroll {
  overflow: hidden;
}
header {
  padding: 20px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
header h1 {
  display: none;
}
header .logout {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 5px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
header .logout i {
  font-size: 30px;
}
header .logout h4 {
  display: none;
}
header .logout:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
header #nav-buttons {
  font-size: 0;
  width: 60%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header #nav-buttons button {
  font-size: 20px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background-color: transparent;
  width: 50%;
}
header #nav-buttons button.left {
  border-radius: 2px 0 0 2px;
}
header #nav-buttons button.right {
  border-radius: 0 2px 2px 0;
}
header #nav-buttons button.current {
  background-color: rgba(255, 255, 255, 0.8);
  color: #717cf6;
}
header #nav-buttons button.current:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #717cf6;
}
header #nav-buttons button:hover {
  background-color: #2098d1;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}
@media only screen and (min-width: 700px) {
  header {
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
  }
  header h1 {
    display: block;
    flex-grow: 1;
  }
  header #nav-buttons {
    width: 250px;
    justify-content: flex-end;
  }
  header #nav-buttons button {
    border: none;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    width: 100px;
  }
  header #nav-buttons button.current {
    background-color: transparent;
    color: #ffffff;
    font-size: 22px;
  }
  header #nav-buttons button.current:hover {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
  }
  header #nav-buttons button:hover {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  header .logout {
    position: static;
    width: 100px;
  }
  header .logout i {
    display: none;
  }
  header .logout h4 {
    font-size: 20px;
    margin: 0;
    display: inline-flex;
  }
}
#tasks-container #no-tasks {
  margin: 70px;
  font-size: 30px;
}
#tasks-container .task {
  padding: 20px 5px;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#tasks-container .task * {
  color: rgba(0, 0, 0, 0.8);
}
#tasks-container .task .task-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#tasks-container .task .title {
  font-size: 30px;
  margin: 0;
}
#tasks-container .task .more {
  border: none;
  background-color: transparent;
  align-self: flex-start;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
#tasks-container .task .more i {
  font-size: 30px;
}
#tasks-container .task .more:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#tasks-container .task .date {
  margin: 0;
}
#tasks-container .task .page-overlay {
  display: none;
}
#tasks-container .task .page-overlay.open {
  display: block;
  position: fixed;
  height: 100vh;
  background-color: rgba(40, 40, 40, 0.775);
  width: 100vw;
  left: 0;
  top: 0;
}
#tasks-container .task .time,
#tasks-container .task .description {
  width: 100%;
}
#tasks-container .task .time {
  text-align: center;
  font-size: 40px;
}
#tasks-container .task #edit-description {
  margin: 0;
}
#tasks-container .task .more-actions {
  display: none;
}
#tasks-container .task .more-actions.open {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  background: #fff;
  margin: 90px 0;
  padding: 10px 5px;
  z-index: 999;
  left: 0;
  right: 0;
  border-radius: 2px;
}
#tasks-container .task .more-actions.open button {
  font-size: 20px;
  height: 40px;
  width: 100%;
  text-align: left;
  border: none;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
#tasks-container .task .more-actions.open button:hover {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}
@media only screen and (min-width: 700px) {
  #tasks-container .task .more-actions.open {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}
#tasks-container .task .more-actions.open:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 14px 16px;
  border-color: #FFFFFF transparent;
  width: 0px;
  top: -11px;
  right: 7px;
}
#tasks-container .task .editing .title {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}
#tasks-container .task .editing .title:focus {
  outline: none;
}
#tasks-container .task .editing .description-heading {
  margin: 0;
}
#tasks-container .task .editing #edit-description {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
#tasks-container .task .editing #edit-description:focus {
  outline: none;
}
#tasks-container .task .editing .edit-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
}
#tasks-container .task .editing .edit-buttons button {
  width: 45%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
#tasks-container .task .editing .edit-buttons button:hover {
  background-color: #2098d1;
  color: white;
}
#tasks-container .task .editing .edit-buttons button.cancel-changes {
  height: 40px;
  border-radius: 2px;
  border: 1px solid #fe5151;
  background-color: transparent;
  color: #fe5151;
}
#tasks-container .task .editing .edit-buttons button.cancel-changes:hover {
  background-color: #fe5151;
  color: rgba(255, 255, 255, 0.8);
}
#tasks-container .task .editing .edit-buttons button.save-changes {
  height: 40px;
  border-radius: 2px;
  border: 1px solid #74c947;
  background-color: transparent;
  color: #74c947;
}
#tasks-container .task .editing .edit-buttons button.save-changes:hover {
  background-color: #74c947;
  color: rgba(255, 255, 255, 0.8);
}
#tasks-container .task hr {
  width: 100%;
}
@media only screen and (min-width: 700px) {
  #tasks-container .task {
    border-radius: 2px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
#timer-container .timer {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  margin-top: 15% auto;
  /* justify-content: center; */
  margin: 15% auto;
}
@media only screen and (min-width: 700px) {
  #timer-container .timer {
    margin-top: 10%;
  }
}
#timer-container .time {
  font-size: 60px;
  margin: 20px 0;
  width: 100%;
  text-align: center;
}
@media only screen and (min-width: 700px) {
  #timer-container .time {
    font-size: 150px;
  }
}
#timer-container .timer-buttons {
  width: 90%;
  margin-top: 20px;
  /* padding: 0 10%; */
  display: flex;
  justify-content: space-between;
}
#timer-container .timer-buttons button {
  width: 48%;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
#timer-container .timer-buttons button:hover {
  background-color: #2098d1;
  color: white;
}
#timer-container .timer-buttons button.start {
  height: 50px;
  border-radius: 2px;
  background-color: #74c947;
  border: none;
  outline: none;
}
#timer-container .timer-buttons button.start:hover {
  background-color: #67bf38;
}
#timer-container .timer-buttons button.stop,
#timer-container .timer-buttons button.cancel-save {
  height: 50px;
  border-radius: 2px;
  background-color: #fe5151;
  border: none;
  outline: none;
}
#timer-container .timer-buttons button.stop:hover,
#timer-container .timer-buttons button.cancel-save:hover {
  background-color: #fe3838;
}
#timer-container .timer-buttons button.save {
  height: 50px;
  border-radius: 2px;
  background-color: #37c3fe;
  border: none;
  outline: none;
  opacity: 0.2;
}
#timer-container .timer-buttons button.save.active,
#timer-container .timer-buttons button.submit {
  height: 50px;
  border-radius: 2px;
  background-color: #37c3fe;
  border: none;
  outline: none;
  opacity: 1;
}
#timer-container .timer-buttons button.save.active:hover,
#timer-container .timer-buttons button.submit:hover {
  background-color: #1ebbfe;
}
#timer-container #save-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}
#timer-container #save-task textarea,
#timer-container #save-task input {
  box-sizing: border-box;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 10px;
  font-size: 20px;
}
#timer-container #save-task textarea::-webkit-input-placeholder,
#timer-container #save-task input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#timer-container #save-task textarea::-moz-placeholder,
#timer-container #save-task input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#timer-container #save-task textarea:-ms-input-placeholder,
#timer-container #save-task input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#timer-container #save-task textarea:-moz-placeholder,
#timer-container #save-task input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#timer-container #save-task textarea.top,
#timer-container #save-task input.top {
  border-radius: 2px 2px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#timer-container #save-task textarea.bottom,
#timer-container #save-task input.bottom {
  border-radius: 0 0 2px 2px;
}
#timer-container #save-task textarea:focus,
#timer-container #save-task input:focus {
  outline: none;
}
main {
  min-height: 70vh;
}
@media only screen and (min-width: 700px) {
  main {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}
.logout-container {
  bottom: 20px;
  width: 100%;
  text-align: center;
  margin: 50px 0;
}
.logout {
  height: 50px;
  border-radius: 2px;
  background-color: #fe5151;
  border: none;
  outline: none;
  width: 80%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.logout:hover {
  background-color: #2098d1;
  color: white;
  background-color: #fe3838;
}
@media only screen and (min-width: 700px) {
  .logout {
    width: 700px;
  }
}
.logout h4 {
  margin: 0;
}

/*# sourceMappingURL=style.css.map*/