/*! sanitize.css v5.0.0 | CC0 License | github.com/jonathantneal/sanitize.css */

/* Document (https://html.spec.whatwg.org/multipage/semantics.html#semantics)
   ========================================================================== */

/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add box sizing inheritence in all browsers (opinionated).
 */

*,
::before,
::after {
	background-repeat: no-repeat; /* 1 */
	box-sizing: inherit; /* 2 */
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritence in all browsers (opinionated).
 */

::before,
::after {
	text-decoration: inherit; /* 1 */
	vertical-align: inherit; /* 2 */
}

/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Add the default cursor in all browsers (opinionated).
 * 3. Prevent font size adjustments after orientation changes in IE and iOS.
 */

html {
	box-sizing: border-box; /* 1 */
	cursor: default; /* 2 */
	-ms-text-size-adjust: 100%; /* 3 */
	-webkit-text-size-adjust: 100%; /* 3 */
}

/* Sections (https://html.spec.whatwg.org/multipage/semantics.html#sections)
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
	display: block;
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
	margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
	font-size: 2em;
	margin: .67em 0;
}

/* Grouping content (https://html.spec.whatwg.org/multipage/semantics.html#grouping-content)
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
	display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
	margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */

nav ol,
nav ul {
	list-style: none;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics (https://html.spec.whatwg.org/multipage/semantics.html#text-level-semantics)
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
	background-color: transparent; /* 1 */
	-webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
	font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
	font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
	background-color: #ffff00;
	color: #000000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -.25em;
}

sup {
	top: -.5em;
}

/*
 * Remove the text shadow on text selections (opinionated).
 * 1. Restore the coloring undone by defining the text shadow (opinionated).
 */

::-moz-selection {
	background-color: #b3d4fc; /* 1 */
	color: #000000; /* 1 */
	text-shadow: none;
}

::selection {
	background-color: #b3d4fc; /* 1 */
	color: #000000; /* 1 */
	text-shadow: none;
}

/* Embedded content (https://html.spec.whatwg.org/multipage/embedded-content.html#embedded-content)
   ========================================================================== */

/*
 * Change the alignment on media elements in all browers (opinionated).
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
	display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
	border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */

svg {
	fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Tabular data (https://html.spec.whatwg.org/multipage/tables.html#tables)
   ========================================================================== */

/**
 * Collapse border spacing
 */

table {
	border-collapse: collapse;
}

/* Forms (https://html.spec.whatwg.org/multipage/forms.html#forms)
   ========================================================================== */

/**
 * Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	margin: 0;
}

/**
 * Inherit styling in all browsers (opinionated).
 */

button,
input,
select,
textarea {
	background-color: transparent;
	color: inherit;
	font-size: inherit;
	line-height: inherit;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
	-webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * 1. Remove the default vertical scrollbar in IE.
 * 2. Change the resize direction on textareas in all browsers (opinionated).
 */

textarea {
	overflow: auto; /* 1 */
	resize: vertical; /* 2 */
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive elements (https://html.spec.whatwg.org/multipage/forms.html#interactive-elements)
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Scripting (https://html.spec.whatwg.org/multipage/scripting.html#scripting-3)
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
	display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
	display: none;
}

/* User interaction (https://html.spec.whatwg.org/multipage/interaction.html#editing)
   ========================================================================== */

/*
 * Remove the tapping delay on clickable elements (opinionated).
 * 1. Remove the tapping delay in IE 10.
 */

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	-ms-touch-action: manipulation; /* 1 */
	touch-action: manipulation;
}

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
	display: none;
}

/* ARIA (https://w3c.github.io/html-aria/)
   ========================================================================== */

/**
 * Change the cursor on busy elements (opinionated).
 */

[aria-busy="true"] {
	cursor: progress;
}

/*
 * Change the cursor on control elements (opinionated).
 */

[aria-controls] {
	cursor: pointer;
}

/*
 * Change the display on visually hidden accessible elements (opinionated).
 */

[aria-hidden="false"][hidden]:not(:focus) {
	clip: rect(0, 0, 0, 0);
	display: inherit;
	position: absolute;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements (opinionated).
 */

[aria-disabled] {
	cursor: default;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.center-flex-column {
  justify-content: center;
  align-items: center;
}
.fullscreen-section {
  min-height: 100vh;
  position: relative;
  padding: 2.75rem;
}
.btn-lrg {
  margin-top: 1rem;
  line-height: 1.75;
  height: 3rem;
  width: 100%;
}
body {
  font-size: 18px;
  font-family: 'PT Sans', 'Helvetica', sans-serif;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
label[for*="-toggler"] {
  display: block;
}
label[for*="-toggler"]:hover {
  cursor: pointer;
}
.header {
  background-color: #29b6f6;
  color: #fff;
  font-family: 'Source Sans Pro', monospace;
  height: 2.75rem;
  left: 0;
  line-height: 1.75rem;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 999;
}
.header .menu-toggler-btn {
  box-shadow: 0 9px 9px rgba(34, 34, 34, 0.1);
  padding: 0.5rem 0;
}
@media (min-width: 450px) {
  .header .menu-toggler-btn {
    padding: 0;
  }
}
.header .menu-toggler-btn h3 {
  margin: 0;
}
@media (min-width: 450px) {
  .header .menu-toggler-btn h3 {
    position: absolute;
    padding: 0.5rem;
    cursor: default;
  }
}
.header .menu-toggler-btn i {
  position: absolute;
  right: 0;
  padding: 0.5rem;
  line-height: 1;
  top: 0;
  color: inherit;
}
@media (min-width: 450px) {
  .header .menu-toggler-btn i {
    display: none;
  }
}
.header .menu-toggler-btn span::selection {
  background-color: transparent;
  color: #fff;
}
.header .menu-toggler-btn:hover {
  background-color: rgba(34, 34, 34, 0.05);
}
.header .nav {
  background-color: #0a9fe2;
  color: rgba(255, 255, 255, 0.8);
  display: none;
}
@media (min-width: 450px) {
  .header .nav {
    background-color: transparent;
    display: flex;
    position: absolute;
    right: 0;
  }
}
.header .nav ul {
  margin: 0;
  padding: 0;
}
@media (min-width: 450px) {
  .header .nav ul {
    display: flex;
  }
}
.header .nav .menu-item a {
  display: block;
}
.header .nav .menu-toggler-close {
  display: block;
}
@media (min-width: 450px) {
  .header .nav .menu-toggler-close {
    display: none;
  }
}
.header .nav .menu-item a,
.header .nav .menu-toggler-close {
  padding: 0.75rem 0;
}
.header .nav .menu-item a:hover,
.header .nav .menu-toggler-close:hover {
  background: rgba(34, 34, 34, 0.05);
}
@media (min-width: 450px) {
  .header .nav .menu-item a,
  .header .nav .menu-toggler-close {
    padding: 0.5rem 1rem;
  }
}
#menu-toggler:checked + .menu-toggler-btn + .nav {
  display: block;
  box-shadow: 0 9px 9px rgba(34, 34, 34, 0.1);
}
@media (min-width: 450px) {
  #menu-toggler:checked + .menu-toggler-btn + .nav {
    box-shadow: none;
  }
}
@media (min-width: 450px) {
  #tasks-container:target {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 632px) {
  #tasks-container:target {
    width: 600px;
    align-self: flex-start;
  }
}
@media (min-width: 900px) {
  #tasks-container:target {
    max-width: 900px;
    width: 100%;
  }
}
.no-content {
  align-self: center !important;
}
.no-content #no-tasks {
  color: #bcbcbc;
  text-align: center;
  padding: 1rem;
  max-width: 450px;
  margin: 0 auto;
}
.no-content #no-tasks a {
  color: rgba(41, 182, 246, 0.5);
}
.task {
  background-color: #fff;
  border: 1px solid #d6d6d6;
  box-shadow: 0 0 4px rgba(34, 34, 34, 0.15);
}
@media (min-width: 450px) {
  .task {
    width: 49%;
    margin: 0.5%;
  }
}
@media (min-width: 632px) {
  .task {
    width: 294px;
    margin: 3px;
    height: 150px;
  }
}
.task + .task {
  margin-top: 0.75rem;
}
@media (min-width: 450px) {
  .task + .task {
    margin-top: 0.5%;
  }
}
@media (min-width: 632px) {
  .task + .task {
    margin-top: 3px;
  }
}
.task .task-default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.task .task-default .title,
.task .task-default .date,
.task .task-default .time {
  margin: 0;
}
.task .task-default .date {
  align-self: flex-start;
  font-size: 1rem;
  width: 49%;
}
.task .task-default .time {
  display: inline-flex;
  width: 49%;
  font-size: 1rem;
  justify-content: flex-end;
}
.task .task-default .title {
  display: inline-block;
  margin: 1.75rem 0 0.5rem;
  font-size: 1.5rem;
  color: #0a9fe2;
  text-overflow: ellipsis;
  overflow-x: hidden;
  width: 100%;
  height: 2rem;
}
.task .task-default-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: rgba(34, 34, 34, 0.6);
}
.action-buttons {
  padding: 0.5rem;
}
.action-buttons label,
.action-buttons button {
  color: rgba(34, 34, 34, 0.3);
  margin-right: 0.5rem;
  transition: color 0.175s linear;
}
.action-buttons label:hover,
.action-buttons button:hover {
  color: rgba(34, 34, 34, 0.5);
}
.action-buttons .delete-btn {
  border: none;
  padding: 0;
}
.task .info-toggler:checked ~ .task-content .task-info {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  top: 2.75rem;
  bottom: 0;
  padding: 0.75rem;
  background-color: rgba(34, 34, 34, 0.2);
}
.task .edit-toggler:checked + .task-content .task-edit {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  top: 2.75rem;
  bottom: 0;
  padding: 0.75rem;
  background-color: rgba(34, 34, 34, 0.2);
}
.task-modal-content {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 7px rgba(34, 34, 34, 0.5);
}
@media (min-width: 450px) {
  .task-modal-content {
    width: 450px;
    height: 300px;
    align-self: center;
  }
}
.task-modal-content .close-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: rgba(34, 34, 34, 0.4);
}
.task-info .date {
  display: inline;
  line-height: 1.5;
  margin: 0;
  color: rgba(34, 34, 34, 0.4);
}
.task-info .time {
  font-size: 2rem;
  align-self: center;
  color: #0a9fe2;
  margin: 2rem 0 1rem;
}
.task-info .title {
  color: rgba(34, 34, 34, 0.6);
  margin: 0;
  text-align: center;
  overflow-wrap: break-word;
}
.task-info .description {
  font-size: 1rem;
  margin: 1rem;
  color: rgba(34, 34, 34, 0.5);
  overflow-wrap: break-word;
}
.task-edit .task-edit-save {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  padding: 0;
  border: none;
  color: rgba(34, 34, 34, 0.4);
}
.task-edit .edit-title,
.task-edit .edit-description {
  border: 1px solid #e2e2e2;
  padding: 0.5rem;
  transition: border 0.175s linear;
}
.task-edit .edit-title:focus,
.task-edit .edit-description:focus {
  outline: none;
  border: 1px solid #0a9fe2;
}
.task-edit .edit-title {
  margin-top: 2.5rem;
}
.task-edit .edit-description {
  height: 100%;
}
#timer-container:target {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.timer {
  padding-bottom: 2.75rem;
}
.timer .time {
  font-size: 3.5rem;
  color: #29b6f6;
  text-align: center;
}
@media (min-width: 632px) {
  .timer .time {
    font-size: 5rem;
  }
}
.timer .timer-buttons {
  display: flex;
  justify-content: center;
}
.timer .timer-buttons button {
  width: 50%;
  padding: 0.75rem;
}
.timer .timer-buttons button.start {
  background-color: transparent;
  color: #29b6f6;
  border: 2px solid #29b6f6;
  border-radius: 2px;
  transition: all 0.175s linear;
}
.timer .timer-buttons button.start:hover,
.timer .timer-buttons button.start:focus {
  cursor: pointer;
  border: 2px solid #0a9fe2;
  color: #0a9fe2;
  background-color: rgba(41, 182, 246, 0.1);
  outline: none;
}
.timer .timer-buttons button.stop {
  background-color: transparent;
  color: #29b6f6;
  border: 2px solid #29b6f6;
  border-radius: 2px;
  transition: all 0.175s linear;
}
.timer .timer-buttons button.stop:hover,
.timer .timer-buttons button.stop:focus {
  cursor: pointer;
  border: 2px solid #0a9fe2;
  color: #0a9fe2;
  background-color: rgba(41, 182, 246, 0.1);
  outline: none;
}
.timer .timer-buttons button.save {
  background-color: #0a9fe2;
  color: #fff;
  border: none;
  border-radius: 2px;
  transition: background-color 0.175s linear;
  opacity: 0.2;
}
.timer .timer-buttons button.save:hover,
.timer .timer-buttons button.save:focus {
  cursor: pointer;
  background-color: #088eca;
  outline: none;
}
.timer .timer-buttons button.save:hover {
  cursor: auto;
}
.timer .timer-buttons button.save.active {
  opacity: 1;
}
.timer .timer-buttons button.save.active:hover {
  cursor: pointer;
}
.timer-save {
  position: fixed;
  width: 100%;
  padding: 0.75rem;
  background-color: #efefef;
  bottom: 0;
  top: 3.5rem;
}
#save-task {
  /* position: relative; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 632px;
  margin: 0 auto;
  justify-content: center;
}
#save-task .time {
  text-align: center;
  font-size: 3rem;
  margin: 0 0 1rem;
  color: rgba(34, 34, 34, 0.4);
}
#save-task .title,
#save-task .description {
  line-height: 1.5;
  width: 100%;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  padding: 0.5rem;
  transition: border 0.175s linear;
}
#save-task .title:focus,
#save-task .description:focus {
  outline: none;
  border: 1px solid #0a9fe2;
}
#save-task .description {
  flex-grow: 1;
}
@media (min-width: 632px) {
  #save-task .description {
    flex-grow: 0;
  }
}
#save-task .timer-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}
#save-task .timer-buttons button {
  height: 2.5rem;
  width: 30%;
}
#save-task .timer-buttons button.cancel-save {
  background-color: transparent;
  color: #29b6f6;
  border: 2px solid #29b6f6;
  border-radius: 2px;
  transition: all 0.175s linear;
}
#save-task .timer-buttons button.cancel-save:hover,
#save-task .timer-buttons button.cancel-save:focus {
  cursor: pointer;
  border: 2px solid #0a9fe2;
  color: #0a9fe2;
  background-color: rgba(41, 182, 246, 0.1);
  outline: none;
}
#save-task .timer-buttons button[type="submit"] {
  background-color: #0a9fe2;
  color: #fff;
  border: none;
  border-radius: 2px;
  transition: background-color 0.175s linear;
}
#save-task .timer-buttons button[type="submit"]:hover,
#save-task .timer-buttons button[type="submit"]:focus {
  cursor: pointer;
  background-color: #088eca;
  outline: none;
}
main {
  padding: 3.5rem 0.75rem 0.75rem;
  background-color: #efefef;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section {
  display: none;
}
main section:target {
  display: block;
  width: 100%;
}

/*# sourceMappingURL=style.css.map*/